
.container h1{
	position: relative;
    	right: 45px;
	font-size:3rem;
}
.container{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	height:350px;
	width:300px;
	background: transparent; 
	color:white;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	border: 0.1px solid gray;
	border-radius:5px;

}
.container input{
	height:40px;
	width:200px;
	padding: 0 15px;
	border-radius:5px;
	border:none;
	background-color:#4A4A4A;
	color:darkgray;
}
.container input::placeholder{
	color:darkgray;
	font-size:12px;
}
.btn{
	height:40px;
	width:200px;
	background-color:#123499;
	border:none;
	font-size:1.3rem;
	color:white;
	border-radius:5px;
	font-weight:bold;
	cursor:pointer;
}
.btn:hover{
	transform:scale(1.1);
}
.circle{
	height:100px;
	width:100px;
	border-radius:50%;
	background-color:rgb(18,52,153,0.5);
}

#left{
	position: relative;
   	bottom: 150px;
    	left: 50px;
}

#right{
	position: relative;
    	right: 50px;
	top: 150px;
}

.afterSubmit{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	height:350px;
	width:300px;
	background: transparent; 
	color:white;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	border: 0.1px solid gray;
	border-radius:5px;
}
.afterSubmit p{
	font-size:1.2rem;
}
.hide{
	display:none;
}